.logo {
  color: #78909c;
  letter-spacing: 0.4em;
}

.login-btn, .register-btn{
  font-size: clamp(14px, 4vw, 16px);
}

.register-btn {
  background-color: rgb(3 105 161);
}

.input-container {
  margin: 0 auto;
  max-width: 550px;
}

.input-container input::placeholder {
  font-style: italic;
}

.check-icon {
  width: 40px;
  height: 40px;
  border: 1px solid rgb(8 145 178);
  border-radius: 50%;
  background-color: white;
}

.todo-item {
  margin: 0 auto;
  max-width: 550px;
  position: relative;
}

.todo-item::before,
.todo-item::after {
  content: "";
  display: block;
  width: 97%;
  position: absolute;
  height: 5px;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.todo-item::after {
  width: 95%;
  height: 5px;
  bottom: -12px;
}

.todo-item label {
  flex-grow: 1;
}

.delete-btn {
  opacity: 0;
  transition: 0.25s;
}

.todo-item:hover .delete-btn {
  opacity: 1;
}

.todo-edit {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 1rem;
  outline: none;
}

.register{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
